body{
    padding: 30px;
}

.full-page{
    margin-top: 50px;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

.submit-area{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#login-area h2{
    color:brown;
}

#transiction{
    display: none;
}

#transiction h3{
    margin-bottom: 70px;
    color: gray;
    text-align: center;
}
.deposit{
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: cyan;
}
.withdraw{
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: darkmagenta;
}
.balance{
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: darkorange;
}

.second-row{
    margin-top: 70px;
}

.withdraw-amount{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}

.deposit-amount{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}